h1 {
    color: #355764;
}
h2 {
    color: #3F4E4F;
    border: #FCF8E8;
}
h3 {
    color: #377D71;
}
body {
    background-color: #ffffff;
    color: #395B64;
}
ul{
    list-style-type: circle;
}
/*THis is a comment!*/
#introduction{
    font-size: 14px;
    color: #FF8B8B;

}
#a_random{
    font-size: 14px;
    color: #421919;
    background-color: #b4cdff;
}
.overview{
    color: #b4cdff;
    height: 350px;
    font-size: 16px;
    background-color: #000000;
}
#Volcanoes{
        width: 100px;
}
img{
    width: 700px;
    margin: 10px solid ;
    border: 6px solid #F9F9C5;
}
